


/* gcompany - employees 
#table-employees .div-table-cell.col1{
	width: 16%;
}
#table-employees .div-table-cell.col2{
	width: 16%;
}
#table-employees .div-table-cell.col3{
	width: 27%;
}
#table-employees .div-table-cell.col4{
	width: 13%;
}
#table-employees .div-table-cell.col5{
	width: 13%;
}
#table-employees .div-table-cell.col6{
	width: 15%;
}*/